src/Arsunity.Prototype/bin/
src/Arsunity.Prototype/obj/
src/.vs/Arsunity.Prototype/v14/.suo
*.user
*.suo
src/Arsunity.DataAccess/bin/
src/Arsunity.DataAccess/obj/
src/Arsunity.Interfaces/obj/
src/Arsunity.Interfaces/bin/
src/Arsunity.Prototype/wwwroot/lib/
src/.vs/
src/Arsunity.Grid/obj/
src/Arsunity.Grid/bin/
src/Arsunity.Prototype.Web/bin/
src/Arsunity.Prototype.Web/node_modules/
src/Arsunity.Prototype.Web/obj/
src/Arsunity.Prototype.Web/wwwroot/
