@model Arsunity.Interfaces.DataAccess.Models.User

@{
    ViewData["Title"] = "Редактирование пользователя системы";
    Layout = "_Layout";
}

<!doctype html>
<html>
<head>
    <title>Редактирование пользователя</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <h2>Редактирование пользователя</h2>
    <form method="post" class="form-horizontal" role="form">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="form-group">
            <label for="Login" class="col-md-2 control-label">Логин</label>
            <div class="col-md-4">
                <input type="text" name="Login" class="form-control" value="@Model.Login" />
            </div>
        </div>
        <div class="form-group">
            <label for="Password" class="col-md-2 control-label">Пароль</label>
            <div class="col-md-4">
                <input type="text" name="Password" class="form-control" value="@Model.Password" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Сохранить" />
            </div>
        </div>
    </form>
</body>
</html>