@model Arsunity.Interfaces.Repositories.IUserRepository

@{
    ViewData["Title"] = "Список пользователей системы";
    Layout = "_Layout";
}

<h2>Пользователи системы</h2>

@await Component.InvokeAsync("Grid", new { repository = Model, editUrl = "home/edit/" })
