@model IEnumerable<Arsunity.Interfaces.DataAccess.Models.User>

@{
    ViewData["Title"] = "Список пользователей системы";
    Layout = "_Layout";
}

<h2>Пользователи системы</h2>
<table class="table-condensed">
    <tr>
        <th>Логин</th>
        <th>Пароль</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Login</td>
            <td>@user.Password</td>
            <td><a href="~/home/edit/@user.Id">Редактировать</a></td>
        </tr>
    }
</table>
